<div class="container">
    <h3>Список групп</h3>
    <table class="table">
      <thead>
      <tr role="row">
        <th scope="col" rowspan="2">Группа</th>
        <th scope="col" rowspan="2">Количество посещений на абонемент</th>
        <th scope="col" colspan="3">Тренер</th>
      </tr>
      <tr role="row">
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let group of groups">
        <td>{{group.groupType}}</td>
        <td>{{group.subscriptionVisitPool}}</td>
        <td>
            <span *ngIf="group.coach">{{group.coach.lastName}}</span>
        </td>
        <td>
            <span *ngIf="group.coach">{{group.coach.firstName}}</span>
        </td>
        <td>
            <span *ngIf="group.coach">{{group.coach.patronymic}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>  
