<div class="greetings">
    <h4>Добро пожаловать!</h4>
    <p>
        Вас приветствует коллектив спортивного клуба “Олимпиец”.
        Спортивный комплекс предоставляет услуги по проведению индивидуальных и групповых спортивных занятий.
    </p>
    <p>
        Доступные на данный момент функции:
    </p>
    <p>
        1. Авторизация и выход из приложения при помощи keycloak.
    </p>
    <p>
        2. Просмотр списка всех существующих групп. Просмотр групп не требует авторизации.
    </p>
    <p>
        3. Учет посещений тренировок спортсменами. К данному разделу имеют доступ только тренеры. Раздел предоставляет
        возможность выбрать тренера, затем из списка спортсменов, у него занимающихся, выбрать тех, у которых нужно
        списать из абонемента одно занятие. Если счетчик занятий стал равен нулю, абонемент аннулируется.
    </p>
</div>
